{% extends "rango/base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}
{% block stylesheet %}
    <style type="text/css">
        
        .signupDiv {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 40px; 
            padding-top: 10px;
            margin: 100px auto;
            width: 500px;
        }
        .form-group {
            width: 80%;
            margin: 10px auto;
        }
        .form-button {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #check{
            display: none;
            color: #FF3300;
            margin-left: 5px;
            width: 200px;

        }
        .ui-effects-wrapper {
        display:inline;
        }
    </style>
    
{% endblock %}

{% block title %}Registration Form{% endblock %}

{% block body_block %}
    
    <div class="page-header">
        <h1>Sign Up for XPJobs</h1>
    </div>
    <div class="signupDiv">
    <form class= "signupForm" role="form"  method="post" action=".?next=/cornell/profile">
        {% csrf_token %}
        
        <!--<h2 class="form-signin-heading">Sign Up Here</h2>-->
        
        <div class="form-group">
            <p class="required"><label for="id_email">E-mail:</label>
                
            {{ form.email|attr:"class:form-control"|attr:"placeholder:Enter Email"|attr:"autofocus:''"|attr:"required" }}
            {{ form.email.errors}}
        </div>
                
        <div class="form-group">
            <p class="required"> <label for="id_username">Username:</label>
            {{ form.username|attr:"class:form-control"|attr:"placeholder:Enter Username"|attr:"required"  }}
            {{ form.username.errors}}
        </div>
        <div class="form-group">
            <p class="required"><label for="id_password1">Password:</label>
            {{ form.password1|attr:"class:form-control"|attr:"placeholder:Enter Password"|attr:"required"  }}
            {{ form.password1.errors}}
        </div>
        <div class="form-group">
            <p class="required"><label for="id_password2">Password (again):</label> <span id = 'check'><strong>Passwords do not match </strong></span>
            {{ form.password2|attr:"class:form-control"|attr:"placeholder:Enter Password Again"|attr:"required"  }}
            {{ form.password2.errors}}
            {{ form.non_field_errors}}
        </div>
        <div class="form-button text-center">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    </div>

{% endblock %}
{% block scripts %}


        <script language="Javascript">
        $('#id_password1, #id_password2').keyup( function(){
            console.log($('#id_password1').val());
            console.log($('#id_password2').val());
            if($('#id_password2').val() == ""){
                
            }else{

                if($('#id_password1').val()!=$('#id_password2').val()){
                    $('#check').css({'display':'inline-block'});
                }
                else{
                    $('#check').css({'display':'none'});
                }
            }
         });
            $('.btn-success').click( function(){
            if($('#id_password1').val()==$('#id_password2').val()){
                return true
            } else {
                $( "#check" ).effect( "shake", { direction: "left", times: 2, distance: 5}, 500);
                return false
            }
         });
         </script>
{% endblock %}
       