{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />
    	<style type="text/css">
            
		#intro {
                        background-image: url('/static/images/office-supplies.jpg');
                        background-size: cover;
			height: 600px;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 180px 0;
		}
                
                 #filler { 
                    background: url("/static/images/images/about.png") 50% 0 fixed; 
                    height: 100px;
                    margin: 0 auto; 
		    width: 100%;
                    box-shadow: 0 0 50px rgba(0,0,0,0.8);
                    position: relative; 

		}
		#quote { 
			background: url("/static/images/paper_light.jpg") 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 100px 0;
		    color: #fff;
		}
		#pitch { 
			background: url("/static/images/header_office.jpg") 50% 0 fixed;
			min-height:520px;
                        height: 100%;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 60px 0;
		}
		#about { 
			background: url("/static/images/images/about.png") 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 10px 0;
		    color: #fff;
		}

		/* Non-essential demo stuff */
		.jumbotron {
		    box-shadow: 0 0 20px rgba(0,0,0,0.1);
                    text-align: center;
		}
                .jumbotron p {
                    color: #444;
                    font-size: 24px;
		}
                
                #pitch p {
                    font-size: 16px;
		}
                
                .headerWidth{
                    max-width: 820px;
                }
                
                .well {
		    padding-left: 20px;
                    padding-right: 20px;
                    background-color: #FFFFFD;
		}
                
                .justify{
                    text-align: justify;
                }
		.media-object {
                    width: 34px; height: 64px; padding-bottom: 30px
                }
                
                .col-centered{
                    float: none;
                    margin: 0 auto;
                }
                  
                .no-padding{
                    padding-left: 0px;
                    padding-right: 0px;
                }
                .jumbotron:not(.text){
                    opacity: .97
                }
                .quote{
                    position:relative;
                    height: 75px;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    color: white;
                    text-align: center;
                    margin-top:0;
                    margin-bottom:0;
                    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                    font-size: 48px;
                }
                

	</style>
{% endblock %}

{% block title %} - Home{% endblock %}

{% block header %}
<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron">
        <img class='jumboImg' src='http://jomax-international.com/files/products/images/Office-4.jpg' />
        <h1> XPJobs </h1>
        <h3>Jobs for the Experienced</h3>
        <p class="lead">Connecting experienced workers with dream jobs since 2014</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
</div>-->
{% endblock %}

{% block nav %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
{% endblock %}
{% block side_block %}
{% endblock %}

{% block body_width %}
    <div class="col-sm-12 col-md-12 no-padding">
{% endblock %}
    
{% block body_block %}
    <section id="intro" data-speed="1.9" data-type="background" >
        <div class="container headerWidth">

            <div class="jumbotron well">
                <div class="text">
                <h1>XPJobs</h1>
                <p>Connecting experienced workers with their dream job</p>
                </div>
            </div>
        </div>
    </section>
    <section id="filler" data-speed="1.5" data-type="background">
    </section>
    </section>
    <section id="quote" data-speed="1.25" data-type="background" >
            <div class="container quote">
            <p>Getting a part-time job has never been easier.</p>
        </div>
    </section>
    <section id="filler" data-speed="1.5" data-type="background">
    </section>
	<!-- Section #2 -->
    <section id="pitch" data-speed="4" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-md-offset-0 well justify">
                  <h2>Job-Seekers</h2>
                  <p>Jumping back into the job market has never been easier. Upload your resume and let potential employers know that your ready to work with your detailed XPJobs profile. Portions of your resume will automatically be highlighted depending on which employer is viewing your profile so you're always placing your best foot forward.</p>
                  <p>Seemlessly search curated job listing that are matched for you and get the inside-scoop about each job. Connect with recruiters and other employees to get a 360&deg view of each employment oportunity.</p>
                  <p><a class="btn btn-success" href="#">Learn More &raquo;</a></p>
                </div><!-- /.span4 -->
                <div class="col-sm-5 col-md-5 col-md-offset-2 col-sm-offset-2 well justify">
                  <h2>Employers</h2>
                    <p>Looking for experienced workers to expand your business? Search XPJobs for qualified candidates with years of experience to join your workforce. </p>
                    <p>Get access to powerful filtering tools to easily and effecitely focus your recruiting efforts on not only the most qualified candidates, but also the candidates who would fit best your your businesses culture. Once you find your ideal employee, reaching out to them doesn't get more simple. Let XPJobs make the first introduction and track the application process from start to finish.</p>
                    <p><a class="btn btn-success" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </section>

	<!-- Section #3 -->
    <section id="about" data-speed="2" data-type="background">
        <div class="container">
            <div class="page-header">
                <h1>Premium <small>&nbspSupercharge your recruitment efforts</small></h1>
            </div>
            <div class="row-fluid">
                <div class="col-sm-4 col-md-4">
                    <h2>Pricing Plan</h2>
                    <p class="justify">Our wide range of price plans offers something for everyone. <b>Starting from $0</b>, individuals and businesses alike can customize thier plan to fit each of their needs.</p>
                    <p class="justify">Plus, we don't get a dime until you get results, guaranteed.</p>
                    <p><a class="btn btn-success">View details &raquo;</a></p>
                </div><!-- /.span4 -->
                <div class="col-sm-4 col-md-4">
                    <h2>Features</h2>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/images/images/check.png">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Promoted Listing</h4>
                            <p>Get in front of the people who matter.</p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/images/images/check.png">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Profile Activity</h4>
                            <p>See detailed reports on who has been viewing your profile.</p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/images/images/check.png">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Get Connected</h4>
                            <p>Leverage your connections to get in contact with employers.</p>
                        </div>
                    </div>
                </div><!-- /.span4 -->
                <div class="col-sm-4 col-md-4">

                    <h2>Sign Up for Free</h2>
                    <form class="form">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input type="text" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <br />
                                <button type="submit" class="btn btn-success">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.span4 -->
            </div>
        </div>
    </section>
    {% block footer %}
    {% endblock %}
    <!--
    <div class="page-header">
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
            <h1>Rango says... hello world!</h1>
        {% endif %}
    </div>
    <br />
    <img src="{% static "images/robot.jpg" %}" alt="Picture of Robot" class="center-block"/>
    <hr />
    <br />
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            {% if categories %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
            </div>
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item"><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 placeholder">
            {% if pages %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
                </div>
            </div>
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
     <p> visits: {{ visits }}</p>
-->

{% endblock %}
